$col_blue: #427fed;

body {
	font-size: 22px;
	line-height: 1.5em;
	overflow-y: scroll;
}

#thread {
	font-family: "Cardo";
	max-width: 700px;
	margin: 0 auto;
	color: #444;

	> header {
		h1 {
			font-weight: normal;
			padding: 2rem 0;
		}
	}

	> article {
		> header {
			details {
				position: relative;
				font-family: sans-serif;
				padding: 2rem 0;
				outline: none;
				cursor: default;

				img {
					background: #eee;
					width: 30px;
					height: 30px;
					padding: 0;
					margin: 0;
					vertical-align: middle;
				}

				summary {
					position: relative;
					height: 52px;
					font-size: 1rem;
					color: #444;
					outline: none;

					> img {
						position: absolute;
						top: 0;
						left: 0;
						width: 50px;
						height: 50px;
					}
					> .from {
						position: absolute;
						top: 0;
						left: 50px + 16px;
						line-height: 1.5rem;
						font-size: 1.5rem;
					}
					> .to {
						position: absolute;
						line-height: 1.5rem;
						top: 32px;
						left: 50px + 16px;

						&::before {
							content: "To: ";
							opacity: 0.5;
						}
					}
					> time {
						position: absolute;
						line-height: 1.5rem;
						top: 32px;
						right: 0;
						font-size: 1rem;
						opacity: 0.5;
					}
				}

				.headers {
					time {
						&::before {
							display: inline-block;
							width: 38px + 50px;
							content: "Sent on: ";
							text-align: right;
							opacity: 0.5;
							font-size: 0.75rem;
						}

						font-size: 1rem;

					}

					ul {
						position: relative;
						margin: 0;
						padding: 0;
						padding-left: 20px;
						list-style-type: none;

						li {
							img {
								vertical-align: middle;
							}

							span {
								display: inline-block;
								font-size: 1rem;

								&.headerType {
									width: 38px;
									text-align: right;
									font-size: 0.75rem;
									opacity: 0.5;
									-webkit-user-select: none;

									&::after {
										content: ": ";
									}
								}

								&.email {
								}								
							}
						}
					}
				}

				&[open] {
					summary {
						padding-bottom: 8px;
						margin-bottom: 8px;
						border-bottom: 1px solid #efefef;
					}

					&::before {
						position: absolute;
						content: "";
						background: $col_blue;
						width: 4px;
						left: -8px;
						top: 2rem;
						bottom: 2rem;
					}
				}
				
				&:hover {
					summary::before {
						position: absolute;
						content: "";
						background: $col_blue;
						width: 4px;
						left: -8px;
						top: 0;
						bottom: 0;

						-webkit-animation: Highlight 0.1s 1;
						animation: Highlight 0.1s 1;
					}
				}
			}			
		}

		p {
			margin: 0;
			white-space: pre-line;
		}
	}
}

@-webkit-keyframes Highlight {
	from {
		width: 0;
		left: -4px;
	}
}
@keyframes Highlight {
	from {
		width: 0;
		left: -4px;
	}
}