@font-face {
	font-family: "Cardo";
	font-style: normal;
	font-weight: 400;
	src: url("/Style/Font/Cardo/Cardo-Regular.woff") format("woff");
}
@font-face {
	font-family: "Cardo";
	font-style: normal;
	font-weight: 700;
	src: url("/Style/Font/Cardo/Cardo-Bold.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  src: url("/Style/Font/Cardo/Cardo-Italic.woff") format("woff");
}